[submodule "external/pybison"]
	path = external/pybison
	url = git@kompiler.org:python/pybison
[submodule "external/graph_drawing"]
	path = external/graph_drawing
	url = git@kompiler.org:python/graph_drawing
[submodule "external/mathjax"]
	path = external/mathjax
	url = http://github.com/mathjax/MathJax
[submodule "external/jquery"]
	path = external/jquery
	url = https://github.com/jquery/jquery.git
[submodule "external/codemirror2"]
	path = external/codemirror2
	url = http://marijnhaverbeke.nl/git/codemirror2
[submodule "external/testrunner"]
	path = external/testrunner
	url = git@kompiler.org:python/testrunner
