body {
    padding-top: 40px;
    background-color: #f9f9f9;
}

.alert {
    display: none;
    margin: 10px 0 0;
}
.alert strong {
    margin-right: 8px;
}

.math-input {
    min-height: 314px;
    padding: 7px 11px;
    line-height: 26px;
    overflow: hidden;
    resize: none;
}

.pretty-print {
    background-color: #fff;
    border-color: #ccc;
    min-height: 300px;
    padding: 14px 19px;
}

.box, .hint {
    position: relative;
    margin: 5px 0;
    padding-left: 20px;
}

.label, .icon {
    position: absolute;
    top: 50%;
}
.label {
    margin-top: -9px;
    left: -8px;
}
.icon {
    margin-top: -8px;
    left: 0;
}

.current-line {
    border-right: 3px solid #ddd;
}

.credits {
    text-align: center;
}

#loader {
    display: inline-block;
    visibility: hidden;
    position: relative;
    background: url(/static/img/load.gif) no-repeat;
    height: 16px;
    width: 16px;
    top: 8px;
    margin-left: 10px;
}
