html {
    background-color: #ccddef;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 20px;
    font: 16px/24px Verdana, Arial, sans;
}

#loader {
    background: url(/static/img/load.gif) no-repeat scroll 0 0 transparent;
    height: 31px;
    width: 31px;
    display: none;
    position: absolute;
    margin-top: -5px;
    margin-left: 16px;
}

.panel {
    background-color: #fff;
    border: 3px solid #bbb;
    cursor: text;
    min-height: 400px;
    padding-bottom: 10px;
    position: absolute;
    top: 58px;
    width: 47%;
}

#input {
    float: left;
    left: 2%;
}

#input textarea {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    height: 388px;
    overflow-y: visible;
    font: 16px/24px Verdana, Arial, sans;
}

.box {
    padding: 10px 15px 0 15px;
}

#math {
    float:right;
    right: 2%;
}

#math .box {
    padding: 10px 15px 0 40px;
    background: no-repeat scroll 15px 13px transparent;
}

#math .box.correct {
    background-image: url(/static/img/tick.png);
}

#math .box.wrong {
    background-image: url(/static/img/cross.png);
}

#math .hint {
    padding: 10px 15px 0 40px;
    background: url(/static/img/info.png) no-repeat scroll 15px 13px transparent;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

#control-buttons {
    height: 21px;
    left: 2%;
    line-height: 0;
    margin-bottom: 16px;
    position: absolute;
    vertical-align: top;
}

.separator {
    border-right: 1px solid #999;
    display: inline-block;
    width: 0;
    height: 21px;
    margin: 1px 5px;
    vertical-align: top;
}

.panel .label {
    background-color: #fff;
    border: 1px solid #ccc;
    clear: both;
    float: left;
    font-size: 10px;
    line-height: 14px;
    margin-left: 4px;
    margin-top: -12px;
    padding: 2px;
}

/* Codemirror should not resize the input area. */
/*
.CodeMirror-scroll {
    height: auto;
    overflow: visible;
}

.CodeMirror-lines {
    padding: 0 !important;
}
*/
